<div class="header">
    <nav class="topnav">
        <a class="nav-title" href="{{ site.url }}">
            <img class="nav-title-img" src="{{ site.url }}img/header-image.png">
        </a>
        <div class="nav-pages">
            <a href="{{ site.url }}">Videos</a>
            {% for page in site.pages %}
                {% unless page.layout == 'page' %}{% continue %}{% endunless %}
                <a href="{{ site.url }}{{ page.url | remove_first: '/' }}">{{ page.title }}</a>
            {% endfor %}
        </div>
    </nav>
</div>
