<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Site Title</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="outer">
        {% include header.html %}
        <div class="pagewrap">
            <div class="video-card intro-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, velit at finibus laoreet, neque ligula laoreet quam, ut faucibus nunc est tincidunt urna. Donec eget tincidunt sapien. Duis tincidunt mollis aliquet. Praesent a risus vel magna consequat aliquam in a neque. Maecenas nunc lacus, eleifend sed velit eleifend, luctus semper urna. Integer orci dui, iaculis quis condimentum ut, tincidunt sit amet sem. Vivamus ipsum lacus, dictum eu leo id, rhoncus fermentum elit. Suspendisse potenti. Fusce eget diam ac sapien scelerisque hendrerit. Aliquam imperdiet nulla ut ipsum pretium, ut bibendum elit tincidunt.</p>
                <p>Suspendisse sed hendrerit neque. Vivamus elementum risus at tortor rhoncus, id venenatis tortor maximus. Phasellus nec enim vitae dolor faucibus euismod. Suspendisse id nunc vitae eros posuere tristique id eu diam. Etiam nec diam arcu. Donec turpis magna, tincidunt quis fringilla vitae, consequat id justo. Nullam at lacinia odio. Nullam quis condimentum arcu. Nam tincidunt dui id tortor varius, ac convallis ipsum varius. Maecenas ut maximus ligula. Sed euismod volutpat libero quis vestibulum. Maecenas ut gravida massa, ac mattis sapien.</p>
            </div>
        </div>
        {% include footer.html %}
    </div>
  </body>
</html>
