<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "VideoObject",
      "name": "{{ page.title }}",
      "description": "{{ content | strip_html | strip_newlines }}",
      "thumbnailUrl": "{{ site.video-baseurl }}{{ page.video-id }}-thumb.jpg",
      "uploadDate": "{{ page.date | date_to_xmlschema }}",
      "contentUrl": "{{ site.video-baseurl }}{{ page.video-id }}.mp4"
    }
    </script>
  </head>
  <body>
      <div class="outer">
        {% include header.html %}
        <div class="pagewrap">
            <main>
                <video class="main-video">
                    <source src="{{ site.video-baseurl }}{{ page.video-id }}.mp4" type="video/mp4">
                </video>
                <div class="video-card video-header">
                    <h1 class="video-title">{{ page.title }}</h1>
                    <div class="channel-wrap">
                        <img class="channel-logo" src="https://placeholdit.imgix.net/~text?txtsize=25&txt=50&w=50&h=50"></img>
                        <span class="channel-name">{{ site.author.name }}</span><br />
                        <button>Subscribe</button>
                    </div>
                </div>
                <div class="video-card video-details">
                    <span class="card-title publish-date">Published on
                        <time datetime="{{ page.date | date_to_xmlschema }}">
                            {% assign d = page.date | date: "%-d" %} 
                            {% assign m = page.date | date: "%B" %} 

                            {% case m %}
                              {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
                              {% when 'September' %}Sept
                              {% else %}{{ page.date | date: "%b" }}
                            {% endcase %}
                              {{ d }},
                            {{ page.date | date: "%Y" }}
                       </time>
                    </span>
                    <div class="video-description">
                        {{ content }}
                    </div>
                </div>
            </main>
            <div class="sidebar">
                {% for category in page.categories %}
                    <div class="video-card next-videos" data-category-name="{{ category }}">
                        <span class="card-title next-videos-title">Up next in "<span class="category-title">{{ category }}</span>"</span>
                        {% assign num_posts = 0 %}
                        {% assign posts = site.categories[category] %}
                        {% for post in posts %}
                            {% if post.url == page.url %}
                                {% assign curr_page_idx = forloop.index %}
                                {% for num in (1..site.up-next-count) %}
                                    {% assign curr_page = posts[curr_page_idx] %}
                                    {% unless curr_page %}{% break %}{% endunless %}
                                    <div class="suggested-vid-wrap"><a href="{{ curr_page.url }}"><img class="vid-thumbnail" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=120%C3%9768&w=120&h=68"></img></a><a class="vid-link" href="{{ curr_page.url }}"><span class="vid-thumbnail-title">{{ curr_page.title }}</span></a></div>
                                    {% assign curr_page_idx = curr_page_idx | plus:1 %}
                                    {% assign num_posts = num_posts | plus:1 %}
                                {% endfor %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                        <span class="meta-posts-count">{{ num_posts }}</span>
                    </div>
                {% endfor %}
                <div class="video-card playlists">
                    <span class="card-title playlists-title">Playlists</span>
                    {% for category in page.categories %}
                        <div class="suggested-vid-wrap"><img class="vid-thumbnail" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=120%C3%9768&w=120&h=68"></img><span class="vid-thumbnail-title category-title">{{ category }}</span></div>
                    {% endfor %}
                </div>
            </div>
            {% if site.disqus-shortname %}
                <div class="video-card disqus-container">
                    <div id="disqus_thread"></div>
                    <script>
                    var disqus_config = function () {
                        this.page.url = "{{ site.url }}{{ page.url | remove_first: '/'}}";
                        this.page.identifier = "{{ page.video-id }}";
                    };
                    
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');

                        s.src = '//{{ site.disqus-shortname }}.disqus.com/embed.js';

                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>
            {% endif %}
        </div>
        {% include footer.html %}
    </div>
    <script>
        function getURLParameter(name) {
          return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
        }
        
        var playlist = getURLParameter("playlist");
        if (!playlist) playlist = "uploads";
        
        var next_videos_panels = document.getElementsByClassName("next-videos");
        for (var i = 0; i < next_videos_panels.length; i++) {
            var panel = next_videos_panels[i];
            var num_vids = parseInt(panel.getElementsByClassName("meta-posts-count")[0].textContent, 10);
            if (num_vids !== 0 && panel.dataset.categoryName === playlist) {
                panel.style.display = "block";
                if (playlist !== "uploads") {
                    var vidLink = panel.getElementsByClassName("vid-link")[0];
                    vidLink.setAttribute("href", vidLink.getAttribute("href") + "?playlist=" + playlist);
                }
            }
        }
    </script>
  </body>
</html>
